VITE_API_URL=http://localhost:3000/v1
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=e-skylab
VITE_KEYCLOAK_CLIENT_ID=skymail
VITE_ADMIN_URL=http://localhost:3001
VITE_FORMS_ADMIN_URL=http://localhost:3002/admin
VITE_MAIL_URL=http://localhost:3003
